.popup__input {
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding: 0 0 9px;
}

@media screen and (max-width: 654px) {
    .popup__input {
        margin: 0 0 30px;
}}