.cards__item {
    background: #FFFFFF;
    border-radius: 10px;
    width: 282px;
    display: grid;
    grid-template-columns: 1fr 42px;
    grid-template-areas:
    "cards__image cards__image"
    "cards__name cards__stroke"
    "cards__name cards__stroke-number";
    overflow: hidden;
    position: relative;
}