.popup__close {
    position:relative;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    top: -40px;
    right: -438px;
    background-image: url(../../../image/Close-Icon.svg);
    background-size: contain;
    background-color: transparent;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 654px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        align-self: end;
}}