.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    grid-area: profile__name;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    width: 100%;
}

@media screen and (max-width: 654px) {
    .profile__name {
        max-width: none;
        text-align: center;
        font-size: 27px;
        line-height: 32.68px;
    }
}