.cards__stroke {
    background-image: url(../../../image/stroke.svg);
    width: 22px;
    height: 19px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    align-self: end;
    grid-area: cards__stroke;
}

.cards__stroke:hover {
    opacity: 0.5;
}

