.cards__stroke {
    background-image: url(../../../image/stroke.svg);
    grid-area: cards__stroke;
    width: 22px;
    height: 19px;
    align-self: center;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.cards__stroke:hover {
    opacity: 0.5;
}

.cards__stroke:active {
    background-image: url(../../../image/stroke__black.svg);
    opacity: 1;
}